.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding: 1rem;
  display: grid;
  // overflow: hidden;
  grid-template-rows: auto;
  // flex-direction: column;
  // justify-content: flex-end;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  // padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  // box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.2);
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
}

.chat-list {
  // height: 100%;
  min-height: 100%;
  max-height: 0;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  // justify-content: flex-end;
  padding: 1rem;
  flex-direction: column;
}

.welcome {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  padding: 0.5rem;
  background-color: lightgrey;
}

.button {
  background-color: limegreen;
  color: white;
  padding: 1em 2em;
  border: none;
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
  font-weight: 700;
  max-height: calc(2rem + 1.5rem);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:active {
    background-color: green;
  }
}

.textbox {
  width: 100%;
  padding: 1em;
  resize: none;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: white;
  outline: none;
  border: none;
  overflow-y: auto;
  // max-height: 4rem;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:focus {
    outline: none;
  }
}
